html {
	box-sizing: border-box;
	-moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

*, ::before, ::after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.block {
	padding: 24px !important;
	margin: 12px!important;
	background-color: #fff;
	border: 1px solid #ccc;
}

#test-id {
	background-color: #ccc !important;
}

.class #id {
	background-color: #ccc !important;
}

.first-class .second-class p {
	font-size: 2em;
}

.first-class .second-class div, .third-class {
	font-size: 2em;
}
