/*wtf*/


body {
	margin: 0;
	font-family: sans-serif;
}

img {
	width: 100px;
}

p {
	color: red !important;
}


p:nth-child(2){
	color: green;
}

.class-1 .class-2 .class-3 {
	background: orange;
}

.class-1 p {
	color: blue!important;
}

#wrap {
	padding: 20px 30px 40px 50px;
}
